.chat-Row {
  display: flex;
  margin: 20px auto 0 auto;
  overflow: hidden;
  width:95%;
  
  @media @mobile {
    flex-direction: column;
  }
  
  &.safari{
    margin-top: 60px;
  }
  
  .user-image {
    width: 10%;
  }

  .conversation {
    width: 35%;
    margin-left: 15px;
    border: 1px solid #9999;
    // padding: 8px;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto ;
    @media @mobile {
      width: 96%;
      margin-left: 7px;
    }
    .conversationContainer {
      box-sizing: border-box;
    
      .logo {
        text-align: center;
        padding-top: 15px;
    
        img {
          width: 6%;
        }
        p {
          margin-top: 0;
        }
      }
      .setMarginTop {
        content: "";
      }
      .chatMsgLists {
        width: 100%;
        max-width: 1380px;
        margin: 0 auto;
        .singleMsg {
          width: 100%;
          margin-bottom: 10px;
          position: relative;
          padding-top: 9px;
          transition: all 0.5s;
          cursor: pointer;

          &.active {
            background-color: #393838;
          }

          .notify {
            width: 100%;
            position: absolute;
            max-width: 20px;
            border-radius: 999px;
            padding: 2px;
            top: 0;
            left: 0;
            background-color: black;
            z-index: 10;
            text-align: center;
            box-shadow: 0 0 5px #000;
            border: 3px solid;
           
            after {
              content: "";
              display: block;
              padding-bottom: 100%;
            }
          }
          .artcubecase {
            width: 100%;
            max-width: 60px;
            height: 60px;
            display: inline-block;
            
            .procusmallmove {
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 5px 0 5px 0;
              z-index: 9;
              position: relative;
              .scenesmall {
                display: inline-block;
                margin-bottom: 0;
                width: 30px;
                height: 30px;
                perspective: 200px;
                &:hover {
                  transform: scale(1.3);
                  transition: .3s;
                }
              }
            }
          }
          .msg {
            width: 100%;
            height:40px;
            white-space: nowrap;
            overflow:hidden;
            max-width: calc(100% - 30px - 120px);
            padding-left: 15px;
            text-overflow: ellipsis;
            font-size: 13px;
            display: inline-block;
            vertical-align: top;
            padding-top: 6px;
            .name {
              font-size: 16px;
            }
          }
          .dateTime {
            width: 100%;
            max-width: 70px;
            color: rgba(255,255,255, .7);
            font-size:13px;
            text-align: right;
            vertical-align: top;
            display: inline-block;
            padding-top: 6px;
          }
        }
      }
    }
  }
  .chat-Block {
    width: 65%;
    border: 1px solid #9999;
    min-height: 80vh;
    margin-top: 126px;
    margin-left: 10px;
    
    @media @mobile {
      width: 96%;
      margin-top: 15px;
      margin-left: 7px;
    }
    .chat-box {
      .drawModal {
        .myModal {
          .innerModal {
            min-width: unset;
            width: 320px;
            height: 500px;
            .modalHeader {
              .drawActions {
                display: flex;
                width: 100%;
                flex-direction: row;
                .saveDownload {
                  margin-left: auto;
                  margin-right: 15px;
                }

              }
            }
            .modalBody {
              position: relative;
              height: 100%;
              width: 100%;
              border-bottom: unset;
              .modalContent {

                // .panel{
                //   position: absolute;
                //   width: 100%;
                //   height: 93%;
                //   // left: 0;
                //   // top: 57px;
                // }
              }
            }
          }
        }
      }

      .invitationModal {
        .myModal {
          .innerModal {
            .modalBody {
              .modalContent {
                .search {
                  width: 100%;
                  input {
                    display: block;
                    width: 95%;
                    margin: 0;
                    padding: 5px;
                    border: 1px solid white;
                    border-radius: 5px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-variant: small-caps;
                    background-color: black;
                    color: white;
    
                    &::placeholder {
                      color: white;
                    }
                  }
                }
                .users {
                  overflow-y: auto;
                  max-height: 350px;
                  margin-top: 10px;
                  p {
                    text-align: center;
                  }
                  .row {
                    display: flex;
                    justify-content: space-between;
                    input{
                      outline: none;
                      margin-top: 22px;
                    }
      
                    .user {
                      display: flex;
                      align-items: center;
                      span {
                        margin-left: 20px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .participantsModel {
        .myModal {
          .innerModal {
            .modalBody {
              .modalContent {
                .users {
                  overflow-y: auto;
                  max-height: 350px;
                  margin-top: 10px;
                  .row {
                    display: flex;
                    justify-content: space-between;
                    .userStatus{
                      margin-top: 22px;
                    }
                    .user {
                      display: flex;
                      align-items: center;
                      span {
                        margin-left: 20px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .chat-header{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 50px;
        width: 100%;
        z-index: 10;
        .add-strq {
          .add-strq {
            .dropdown {
              position: relative;
              display: inline-block;
              margin-left:10px;
              z-index: 10;
              i {
                cursor: pointer;
                @media @mobile {
                  margin-right: 5px;
                }
              }
              &:hover{
                .dropdown-content{
                  display: block;
                }
              }
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 150px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                margin-left: -10px;
                p{
                  padding: 12px 16px;
                  &:hover{
                    background-color: #f1f1f1;
                  }
                }
                // margin-top: 10px;
                @media @mobile {
                  margin-left: -32px;
                }
                a:hover {
                  // display: flex;
                  align-items: center;
                  background: #f1f1f1;
                  /* height: 5vh; */
                  // position: relative;
                  white-space: nowrap;
                  text-align: center;
                }
                p {
                  color: #000;
                  text-align: center;
                  cursor: pointer;
                }
                a {
                  color: black;
                  padding: 12px 16px;
                  text-decoration: none;
                  display: block;
                  text-align: center;
                }
              }
            }
          }
        }
        .calling-modal {
          .myModal {          
            .innerModal {
              .modalHeader {
                .btn-close {
                  display: none;
                }
              }
              .modalBody {
                .modalContent {
                  .artcubecase {
                    width: 100%;
                    margin: 24px 0px;
                    .procusmallmove {
                      text-align: center;
                      display: block;
                      margin-left: unset;
                      padding: unset;
                    }
                  }
                  .calling {
                    text-align: center;
                  }
                }
              }
              .modalFooter {
                .actions {
                  .end-call {
                    margin: 0 auto;
                    border: 3px solid #fff;
                    border-radius: 50%;
                    padding: 7px;
                    width:36px;
                    i{
                      font-size: 28px;
                      display:flex;
                      justify-content: center;
                      align-items: center;
                      height:30px;
                    }
                  }
                }
              }
            }
          }
        }
    
        .fa-arrow-left {
          margin: 0 53px;
          @media @mobile {
            margin: 0 4px;
          }
        }
        .artcubecase{
          width: auto;
          height: auto;
        }
        .user-Status{
          margin-left: 20px;
          white-space: nowrap;
          @media @mobile {
            margin-left: 12px;
          }
          p{
            margin: 0;
            width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;

            @media @mobile {
              width: 100px;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            a {
              text-decoration: none;
              color: white;
              @media @mobile{
                font-size: 13px;
              }
            }
          }
          span{
            @media @mobile{
              font-size: 13px;
              white-space: nowrap;
            }
          }
        }
        .call-btn{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          margin-right: 57px;
          i {
            font-size: 34px;
            margin: 0 22px;
            cursor: pointer;
            @media @mobile {
              font-size: 24px;
              margin: 0 14px;
            }
          }
          @media @mobile{
            margin-right:12px;
    
          }
          // .addPeople {
          //   margin-right: 16px;
          //   @media @mobile{
          //     margin-right: 26px;
          //   }
          // }
    
          button{
            margin-left: 10px;
            background: #000;
            border: none;
            border-radius: 50px;
            color: #fff;
            font-size: 14px;
            padding: 8px;
            width: 100px;
            cursor: pointer;
            @media @mobile{
              width: 86px;
              padding:5px;
              
            }
          }
          .call-icon {
            margin-right: 16px;
            @media @mobile {
              margin-right: 13px;
            }
          }
          img {
            width:40px;
            cursor: pointer;
            @media @mobile{
              width: 25px;
            }
          }
        }
      }
      .chat-container {
        border-bottom: 1px solid #444;
        width: 100%;
        margin: 0px auto 0 auto;
        min-height: 67vh;
        max-height: 67vh;
        box-sizing: border-box;
        overflow-y: scroll;
      
        .chat-uesr{
          margin-top: 10px;
          text-align: center;
          // border-bottom: 1px solid #444;
    
          padding-bottom: 20px;
         .artcubecase{
           margin: 0 auto 10px auto;
           display: flex; 
           justify-content:center;
          }
          p{
            margin: 0;
          }
          span{
            font-size: 20px;
          }
        }
        .message-row {
          padding:20px 5px 5px 5px;         
          box-sizing: border-box;
          margin-bottom: 5px;
         
          .incoming { 
            float: left;
            width: 100%;
    
            .user-message {
              display: flex;
              align-items: center;

              .text {    
                width: auto;
                max-width: 30vw;
                padding:4px 6px ;
                box-sizing: border-box;
                text-align: left;
                word-wrap: break-word;
                clear: both;
                border:1px solid ;
                border-radius: 10px 10px 10px 0;
                opacity: 1;
                @media @mobile {
                  max-width:60vw;
                }
              }
    
              .msgDocument {
                padding-top: 10px;
                box-sizing: border-box;
              }
    
              .msgImg {
                max-width: 100%;
                max-height:400px;
                justify-content:center;
                margin-top: 18px;
    
              }

              .msgImg img {
                width: 215px !important;
                height: 250px;
                max-height:350px;
                margin-bottom: 12px;
                border-radius: 5px;
              }
              
              .msgVideo {
                max-width: 100%;
                max-height: 400px;
                display: flex;
                justify-content:center;
                margin-top: 10px;
                video {
                  width: 215px !important;
                  height:auto !important;
                  margin-left: 0;
                  border-radius: 5px;
                }
              }
            }

            .time {
              font-size: 12px;
              padding: 5px;
              margin-top: 0;
              margin-left: 60px;
              color: rgba(255,255,255,.7);
              float: left; 
            }
    
            .artcubecase{
              width: 50px;
              height: 50px;
              margin: 0px 14px 0 0;
            }
          }
        
          .outgoing {
            float: right;
            max-width: 100%;
    
            .send-icon {
              text-align: right;
              margin-top: 10px;
              img{
                width: 15px;
                border: 1px solid rgba(255,255,255, .5);
                opacity: 0.5;
                margin-right: 0;
                margin-left: 2px;
    
                // margin-left: 10px;
              }
    
              &.high {
                img {
                  opacity: 1;
                }
              }
            }
    
            .user-message {
              display: flex;
              align-items: center;
              flex-direction: row-reverse;

              .text{
                width: auto;
                max-width:30vw;
                padding: 4px 6px;
                box-sizing: border-box;
                text-align: left;
                word-wrap: break-word;
                clear: both;
                border: 1px solid;
                border-radius: 10px 10px 0 10px;
                opacity: 1;
                @media @mobile {
                max-width:60vw;
                }
              }

              .send-icon {
                img{
                  width: 15px;
                  border: 1px solid rgba(255,255,255, .5);
                  opacity: 0.5;
                  margin-left: 10px;
                }
    
                &.high {
                  img {
                    opacity: 1;
                  }
                }
              }

              .msgDocument {
                padding-top: 10px;
                box-sizing: border-box;
              }

              .msgImg {
                max-width: 100%;
                max-height: 400px;
                justify-content:center;
                margin-top: 18px;
              }

              .msgImg img {
                width: 215px !important;
                height: 230px !important;
                margin-left: 0;
                border-radius: 5px;
                opacity:1;
                @media @mobile {
                  width: 175px !important;
                  height: 175px !important;
                }
              }

              .msgVideo {
                max-width: 100%;
                max-height:400px;
                display: flex;
                justify-content: center;
                margin-top: 10px;
                video {
                  width: 215px !important;
                  height: auto !important;
                  margin-left:0px;
                  border-radius: 5px;
                }
              }
             }
    
            .time {
              font-size: 12px;
              padding: 5px;
              margin-top: 0;	
              margin-right: 30px;
              color: rgba(255,255,255,.7);
              float:right; 
    
              background-color: none;
            }
          }
    
          &.group:before,
          &.group:after {
            content: "";
            display: table;
          }
    
          &.group:after {
            clear: both;
          }
    
          &.group {
            zoom: 1;
          }
        }
      }
      .chat-footer {
        .typing-text {
          width: 90%;
          margin: 0 auto;
          padding-bottom: 5px;
        }
      
        .message-input{
          display: flex;
          width: 95%;
          margin: 15px auto 15px auto;
          align-items: center;
          justify-content: center;
          .add-items-btn{
            margin-right:15px;
            @media @mobile {
              margin-righta: 0px;
            }
          }
          i{
            cursor: pointer;
          }
      
          input[type="text"] {
            display: block;
            border: 1px solid #444;
            width: 76%;
            margin: 0 auto;
            padding: 10px;
            box-sizing: border-box;
            background-color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 100%;
            font-variant: small-caps;
            color: white;
            border-radius: 10px;
            &::placeholder {
              color: white;
            }
            @media @mobile {
              width: 65%;
            }
          }
          .btn-send{
            border: 1px solid #444;
            border-radius: 50px;
            width: 20%;
            background: none;
            color: white;
            font-size: 16px;
            padding: 10px;
            margin-left: 7px;
            @media @desktop {
              font-size:12px;
            }
            &.gold {      
              background-color: @color_gold;
            }
        
            &.orange {
              background-color: #FFA500;
            }
        
            &.gray {
              background-color: #808080;
            }
            
            &.limegreen {
              background-color: #32CD32;
            }
        
            &.red {
              background-color: #FF0000;
            }
        
            &.purple {
              background-color: #800080;
            }
        
            &.dodgerblue {
              background-color: #1E90FF
            }
          }
        }
      
        .preview {
          .image-preview {
            box-sizing: border-box;
            margin: 0 auto;
            border: 1px solid #444;
            max-width: 200px;
            max-height: 200px;
            position: relative;
            img {
               max-width: 200px;
               max-height: 200px;
            }
            .fa-trash {
              position: absolute;
              right: 5px;
              top: 5px;
              font-size: large;
              cursor: pointer;
              box-shadow: 0 0 5px #000;
              background: #000;
              padding: 5px;
              border-radius: 4px;
            }
          }
        
          .document-preview {
            box-sizing: border-box;
            margin: 0 auto;
            border: 1px solid #444;
            max-width: 300px;
            max-height: 200px;
            position: relative;
            text-align: center;
            border: 1px solid #444;
            padding: 10px;
            
            .fa-file-alt {
              max-width: 200px;
               max-height: 200px;
              font-size: 100px;
            }
        
            .fa-trash {
              position: absolute;
              right: 5px;
              top: 5px;
              font-size: large;
              cursor: pointer;
              box-shadow: 0 0 5px #000;
              background: #000;
              padding: 5px;
              border-radius: 4px;
            }
          }
        
          .video-preview {
            box-sizing: border-box;
            margin: 0 auto;
            border: 1px solid #444;
            max-width: 200px;
            max-height: 120px;
            position: relative;
            padding: 5px;
            video {
               width: 100%;
               height: 100%;
            }
            .fa-trash {
              position: absolute;
              right: 5px;
              top: 5px;
              font-size: large;
              cursor: pointer;
              box-shadow: 0 0 5px #000;
              background: #000;
              padding: 5px;
              border-radius: 4px;
              z-index: 10;
            }
          }  
        }
      }
    
      .add-img-vid-box{
        display: flex;
        position: fixed;
        border: 1px solid;
        top: 23%;
        left: 23%;
        background: #000;
        width: 50%;
        height: 70%;
        z-index: 10;
        justify-content: center;
        align-items: center;
        @media @mobile{
          left: 4%;
          width: 90%;
        }
        .close-add-box{
          position: absolute;
          top: 50px;
          right: 27px;
          border: 1px solid;
          border-radius: 100%;
          padding: 8px 10px;
          cursor: pointer;
        }
        label{
          text-align: center;
          display: flex;
          flex-direction: column;
          margin: 0 30px;
          cursor: pointer;
          
          img{
            width: 40px;
            border: 1px solid;
            border-radius: 100%;
            padding: 5px;
          }
    
          input {
            display: none;
          }
        }
      }
    }
  }
}
